<div>
  <div class="row">
    <br>
    <div class="col-sm-5">
      <p>All Files()</p>
    </div>
    <div class="col-sm-5">
      <button class="btn btn-success">Upload object</button>
    </div>
    <div class="col-sm-5">
      <button class="btn btn-danger">Delete object</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <h4>Name</h4>
      <ul class="list-group">
        <a
          class="list-group-item"
          id = "name"
          style="cursor: pointer;">

        </a>
      </ul>
    </div>
    <div class="col-sm-6">
      <h4>Last Modified</h4>
      <ul class="list-group">
        <a
          class="list-group-item"
          id = "name"
          style="cursor: pointer;">

        </a>
      </ul>
    </div>
    <div class="col-sm-6">
      <h4>Size</h4>
      <ul class="list-group">
        <a
          class="list-group-item"
          id = "name"
          style="cursor: pointer;">

        </a>
      </ul>
    </div>
  </div>
</div>
