<div class="container-fluid">

  <h1>Bucket List</h1>
  <app-new-bucket *ngIf="isShowed"></app-new-bucket>
  <div class="row">
    <div class="col-sm-5">
      <p>All Buckets({{ sum }})</p>
    </div>
    <div class="col-sm-5">
      <button class="btn btn-primary" (click)="createNewBucket()">Create New Bucket</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h4>Name</h4>
      <ul class="list-group">
        <a
          class="list-group-item"
          id = "name"
          style="cursor: pointer;"
          *ngFor="let bucket of buckets; let i = index"
          [routerLink]="['/details']"
          (click)="bucketDetails()">
          {{ bucket.bucketName }}
        </a>
      </ul>
      <router-outlet></router-outlet>
    </div>
    <div class="col-sm-5">
      <h4>Location</h4>
      <ul class="list-group">
        <a
          class="list-group-item"
          style="cursor: pointer;"
          *ngFor="let bucket of buckets; let i = index">
          {{ bucket.bucketLocation }}
        </a>
      </ul>
    </div>
  </div>
</div>
