<div>
  <p>Create New Bucket</p>
  <form (ngSubmit)="createBucket(f)" #f="ngForm">
    <div class="row">
      <div class="col-sm-5 form-group">
        <label for="name">Bucket Name</label>
        <input
          type="text"
          id="name"
          #name="ngModel"
          name="name"
          class="form-control"
          ngModel
          required>
      </div>
      <span class="help-block" *ngIf="!name.valid && name.touched">Please enter a name for the bucket</span>
      <div class="col-sm-5 form-group">
        <label for="location">Bucket Location</label>
        <!--<input
          type="text"
          id="location"
          class="form-control"
          ngModel
          required>-->
          <div class="input-group">
            <input
              type="text"
              name="location"
              id="location"
              class="form-control"
              ngModel
              required
              aria-label="Text input with dropdown button">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary dropdown-toggle" id="dropdown1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
              <div class="dropdown-menu" aria-labelledby="dropdown1">
                <a
                  class="dropdown-item"
                  href="#">
                  {{ bucketLocation }} {{ bucketId }}
                </a>
                <a
                  class="dropdown-item"
                  href="#">
                  {{ bucketLocation1 }}
                </a>
              </div>
            </div>
          </div>
          <!--<select
            name="location"
            id="location"
            ngModel>
            <option
              value="location1"
              *ngFor="let location of loadedLocations">
              {{ location.name }}
            </option>
          </select>-->
      </div>
    </div>
    <button class="btn btn-success" type="submit" [disabled]="!f.valid">Create Bucket</button>
  </form>
</div>
